* text=auto
.* text

*.cjs text
*.css text diff=css
*.html text diff=html
*.hx text
*.hxml text
*.js text
*.json text
*.md text diff=markdown
*.mjs text
*.scss text diff=css
*.svg text
*.txt text

*.gif binary
*.ico binary
*.jpg binary
*.n binary
*.pdf binary
*.png binary
*.webp binary
*.woff binary
*.woff2 binary
